@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* 
{
    padding: 0;
    margin: 0;
    font-family: "Winky Rough", sans-serif;
    color: azure;
}
body 
{
    background-color: #001;
    display: flex;
}
nav 
{
    width: 4%;
    height: 100vh;
    padding: 20px;
    background-color: #123;
    overflow: hidden;
    transition: .7s;
}

img,#image-box 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ul 
{
    height: 92%;
    list-style: none;
    position: relative;
}
ul li a 
{
    display: flex;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    border-radius: 10px;
    font-size: 19px;
    text-decoration: none;
    text-transform: capitalize;
    transition: .7s;    
}
ul li a i,section #about div i 
{
    font-size: 25px;    
}
#log-out 
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#log-out a 
{
    background-color: #E14434 ;
}
ul li a:hover,#log-out a:hover,section #about #child:hover,table tr td:hover  
{
    background-color: #ffffff55;
    cursor: pointer;
}
nav:hover 
{
    width: 20%;
}
section,#about div 
{
    flex-grow: 1;
    padding: 15px;
}

section #header 
{
    background-color: rgb(4, 129, 255);
    display: flex;
    align-items: center;
    padding: 17px;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

section #about 
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
section #about #child 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    flex-basis: 150px;
    border-radius: 15px;
    background-color: #123;
    transition: .7s;
}
section #about #child span h4 
{
    font-size: 25px;
}
section #about #child span 
{
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    border-spacing: 15px  ;
}
table tr td {
    background-color: #123 ;
}
table tr td span {
    border-radius: 7px;
    padding: 5px;
    background-color: green ;
}
table tr td:last-child span {
    background-color: yellow;
    color: black;
}
table tr th {
    background-color: rgb(4, 129, 255) ;
}
table tr th,table tr td {
    text-transform: capitalize;
    padding: 15px;
    border-radius: 10px;
    transition: .7s;
} 


@media (max-width: 600px) 
{
    section #about 
    {
        flex-direction: column;
    }
}

@media (min-width:1500px) 
{
    nav 
    {
        width: 2%;
    }
    ul li a 
    {
        margin: 20px 0;
    }
}