/* @import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    font-family: "Winky Rough", sans-serif;
    color: aliceblue;
}
body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(11, 11, 85) 30%,black );
}
#container {
    width: 85%;
    margin: auto;
    background-image: linear-gradient(to right,rgba(11, 11, 85, 0.466) 30%,rgba(0, 0, 0, 0.623) ) ,url(avatar.webp);
    background-repeat: no-repeat;
    background-position: center; 
    height:90%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 1px;
}
header ul {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
header h1 {
    text-transform: uppercase;
}
header ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    transition: .7s;
}
#container footer {
    margin: 90px 50px;
    width: 35%;
}
#container footer h1 {
    text-transform: uppercase;
    font-size: 80px;
}
#container footer p {
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 20px 0;
}
#container footer button {
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

header ul li a:hover {
    text-decoration: underline;
}