@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root {
    --main-color: #10cab7;
}



* 
{
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
    background-color: #EEEEEEEE;
}
/* Start Header */
header 
{
    background-color: white;
}
header #container 
{
    margin: auto;
    padding-left: 10px;
    height: 71px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo 
{
    width: 60px;
}
header #container #list-group {
    position: relative;
}
header #container #list-group nav {
    position: absolute;
    right: 0;
}
header #container #list-group nav ul {
    position: relative;
    background-color:#EEEEEE ;
    width: 130px;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-top: 12px;
    display: none;
}
#list-group ul::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 4px;
    border-width: 8px 8px 10px 8px;
    border-style: solid;
    border-color: transparent transparent #EEEEEE transparent;
}
#list-group ul li {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px 0 5px ;
    transition: 0.3s;
}
#list-group ul li:not(:last-child) {
    margin-bottom: 3px;
}
#list-group ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: black;
    transition: 0.6s ;
}
#list-group ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 0px 5px;
    font-weight: 500;
}
#list-group nav ul li:hover::before  {
    width: 100%;
}
#list-group nav ul li:hover {
    background-color: #e6e6e6ee;
}
#box {
    width: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    direction: rtl;
}
#container #list-group:hover ul {
    display: block;
}
#box span {
    margin: 1.5px;
    display: inline-block;
    height: 2px;
    background-color: black;
}
#box span:first-child,#box span:last-child {
    width: 100%;
} 
#box span:nth-child(2) {
    width: 60%;
    transition: 0.5s ease-out;
}
#list-group:hover span:nth-child(2) {
    width: 100%;
}
/* End Header */
/* Start Landing Section */
#landing {
    background-image: url(../landing.jpeg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 71px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#landing #text-area {
    width: 300px;
    text-align: center;
}
#landing #text-area h1{
    margin: 0;
    color: var(--main-color);
    font-weight: 800;
}
#landing #text-area p {
    
}




/* End Landing Section */

/* Media Formatting */
/* Extra small */
@media (max-width:576px) 
{
    header #container 
    {
        width: 95%;
    }
}
/* Small */
@media (min-width:576px) 
{
    header #container 
    {
        width: 540px;
    }
}
/* Medium */
@media (min-width:768px) 
{
    header #container 
    {
        width: 720px;
    }
}
/* Large */
@media (min-width:992px) 
{
    header #container 
    {
        width: 960px;
    }
}
/* X-Large */
@media (min-width:1200px) 
{
    header #container 
    {
        width: 1140px;
    }
}
/* XX-Large */
@media (min-width:1400px) 
{
    header #container 
    {
        width: 1320px;
    }
}
/* Media Foratting */